
 

  #header{
       padding: 0px;
       margin: 0px;
   }

  

   #navbar{
   
      margin-top: 15px;
      padding: 25px;
    text-align:center;
    
}

a{color:gray;}

a:hover{
    color: cadetblue;
}


.container{
    background-color: white;
}

.container-fluid{
    background-color: white;
    padding: 0px;
    width: 100%;
    
}

body{
    background-image: url( "../images/background.png");
      
   }


h2{
    padding: 20px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: rgb(2, 151, 151);
    font-family: 'Kanit', sans-serif;
    text-align:center;
    color: white;
}


h4{
    padding: 10px;
    border-bottom: gainsboro solid 2px;
    width:100%;
    font-family: 'Kanit', sans-serif;
    color:rgb(2, 151, 151) ;

}

h6 {
    background-color: rgb(2, 151, 151);
    padding: 20px;
    text-align: center;
    color: white;
    width: 100%;
    position:relative;
    bottom: 90px;
}


footer{
    margin-top: 170px;
    padding: 20px;
    background: rgba(63, 62, 62, 0.719); border-top:rgb(32, 136, 136) 4px solid;
    color: rgb(192, 189, 189);
    text-align: center;
    width: 100%;
    position: sticky;
}

p{  
       text-align: justify;
     
}

img{
    width: 100%;
    height: 100%;
    
}

.port-pic{
    margin: 15px;
}



/* syle for index file */

#main-box-index{
        margin-top: 20px;
        background-color: white;
}


/* style for contact page */

#main-box-cont{
    width:100%;
    margin-top:20px;
    background-color: white;
}


#cont-name {
    padding-left: 20px;
    width: 100%;

}

#cont-email {
    padding-left: 20px;
    width: 100%;
    
}

#cont-massage {
    padding-left: 20px;
    width: 100%;
    height:200px;
    
}


#button{

    margin-bottom: 15px;
   
}



/* style for portfolio file */

#main-box-port{
    width: 100%x;
    margin-top: 20px;
    padding: 0px;
    
    background-color: white;
}






